  body {
            font-family: 'Courier New', monospace; /* Ustawienie czcionki Courier New */
            background-color: #D1DFE9; /* Ustawienie koloru tła */
            color: #333333; /* Ustawienie koloru tekstu */
            margin: 0;
            padding: 20px;
        }

        h1, h2 {
            font-family: 'Courier New', monospace;
        }
