/* Resetowanie marginesów i paddingów dla wszystkich elementów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ustawienia ogólne dla całego ciała dokumentu */
body {
    font-family: 'Times New Roman', monospace; /* Ustawienie czcionki Courier New */
    background-color: #D1DFE9; /* Ustawienie koloru tła */
    color: #333; /* Ustawienie koloru tekstu */
    line-height: 1.6; /* Ustawienie interlinii */
    padding: 20px; /* Dodanie paddingu do treści */
}

h1 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; /* Ustawienie czcionki */
    font-size: 28px; /* Ustawienie rozmiaru czcionki dla nagłówka */
    color: #333; /* Ustawienie koloru tekstu */
    margin-bottom: 20px; /* Dodanie marginesu na dole, aby oddzielić od tekstu */
}

/* Style dla paragrafów */
p {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; /* Ustawienie czcionki */
    font-size: 16px; /* Ustawienie mniejszego rozmiaru czcionki dla tekstu */
    color: #666; /* Ustawienie ciemniejszego koloru tekstu dla lepszej czytelności */
    line-height: 1.6; /* Ustawienie interlinii */
}
/* Dodatkowe stylizacje, jeśli potrzebujesz */
.container {
    max-width: 960px; /* Ustawienie maksymalnej szerokości kontenera */
    margin: auto; /* Wyśrodkowanie kontenera */
    padding: 20px; /* Dodanie wewnętrznego marginesu */
}

/* Stylizacje dla linków */
a {
    color: #026e99; /* Ustawienie koloru dla linków
